<!-- {% extends 'app/base.html' %} -->

{% block content %}


<div class="container">
	<div class="row" >
		<div class="col-4" >

<form method="post" style="padding-top: 15%;padding: 20%;" >
	{% csrf_token %}
	<I><h1 style="text-align: center;font-size: 7;"><B><FONT SIZE="7" FACE="nautilus_pompiliusregular">Canteen Registration</FONT></B></h1></I><br>
	<div class="form-group">
    <label for="exampleInputEmail1">Canteen Name</label>
    <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter canteen Name">
    </div>
  
  	<div class="form-group">
    <label for="exampleInputEmail1">Phone</label> 
    <input type="number"  name="phone"  title="Enter valid phone number" class="form-control" id="phone" aria-describedby="emailHelp" placeholder="Enter phone" required>
  	</div>
 

	<div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  	</div>
  
  	<div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="pasword1" class="form-control" id="pasword1" placeholder="Password" required>
  	</div>
  
  	<div class="form-group">
    <label for="exampleInputPassword1">Confirm Password</label>
    <input type="password" name="pasword2" class="form-control" id="pasword2" placeholder="Confirm Password" required>
  	</div>
  
  	<div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  	</div>
  	<button type="submit" class="btn btn-primary" id="btnSubmit">Submit</button>
  	{{message}}
</div>
<div></div>
</form>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
          var check=true;
            var password = $("#pasword1").val();
            var confirmPassword = $("#pasword2").val();
            if (password != confirmPassword) {
                alert("Passwords do not match.");
                check=false;
            }
           var inputtxt=$("#phone").val();
          var phoneno = /^\d{10}$/;
            if(inputtxt.match(phoneno))
            {
              console.log("matched");
            }
            else
            { 
              alert("Invalid Phone number");
              check=false;
            }

            return check;
        });
    });
</script>

{% endblock %}