<!DOCTYPE html>
<html>
<body>
<u>
<h1>Quality Assurance Form</h1>
</u>

<form action="/action_page.php">
  <font size="5" face="arial" color="black">
  <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" >
  <label for="vehicle1">Affordable</label><br><br>
  <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
  <label for="vehicle2"> employers health and hygiene</label><br><br>
  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
  <label for="vehicle3"> product with manufacture and expiry date</label><br><br>
  <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1">Cleanliness and hygeine of cook and staff</label><br><br>
  <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1">water quality</label><br><br>
  <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1">Staff uniform</label><br><br>
  <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1">Staff Uniform</label><br><br>
  <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1">Fresh Vegetable and Fruits</label><br><br>
  <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1">dairy Products</label><br><br>
  <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1">Appliances</label><br><br>
  <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1">Pest Management program for dinning room</label><br><br>



  <input type="button" value="Submit">
</font>
</form>


</body>
</html>
