Hii {{user.username}}
------------------------------------------------------------------------
To reset your password for Food Funday, please click on the following link below:

{{protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}


If you don't want to reset your password, you can ignore this message.


-------------------------------------------------------------------------------
Thank You !!!!
Team Food Funday....!!
Have a tasty day...!!!

                                        Please don't send request