{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div style="padding-top: 20%;align-self: center;">
  
{% if validlink %}
                    <form method="post" novalidate>
                        <h3 class="text-center">Change Your Password</h3>
                        {% csrf_token %}
                        {{form|crispy}}
                        <button type="submit" class="btn btn-success btn-block ">Change Password</button>
                    </form>
                {% else %}
                    <div class="alert alert-danger"  role="alert">
                        This link is already verified or invalid link
                    </div>
                        <a href="{% url 'password_reset' %}" class="text-center btn-block">Reset your Password</a>
                {% endif %}
{% endblock %}